<html>
<head>
  <title></title>
</head>

<body>

<div class="container-fluid">
  <nav class="navbar navbar-default navbar-fixed-top" style="height: 80px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="/home"> <img src="../../assets/images/gemini.jpeg" class="company-logo"></a>
      </div>
      <div class="nav navbar-nav navbar-right ">
        <a routerLink="./cart"><h3><span class="glyphicon glyphicon-shopping-cart"></span>Cart</h3></a>&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </nav>
  <div class="row middle-page">
    <div class="col-sm-2 left-bar">
      <ul class="list-group">
        <li class="list-group-item"><a routerLink="../electronics">Electronics</a></li>
        <li class="list-group-item"><a routerLink="../fashion">Fashion</a></li>
        <li class="list-group-item"><a routerLink="../watches">Watches</a></li>
        <li class="list-group-item"><a routerLink="../books">Books</a></li>
      </ul>
    </div>
    <div class="col-sm-10">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner image-car">
          <div class="item active">
            <img src="../../assets/images/car1.jpg" alt="car1">
          </div>

          <div class="item">
            <img src="../../assets/images/car2.jpg" alt="car2">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>



</div>
<div class="footer row">
  <div class="col-sm-3">
    <ul>
      <li class="footer-heading"> Categories</li>
      <li>Electronics</li>
      <li>Fashion</li>
      <li>Footwear</li>
      <li>Books</li>
    </ul>
  </div>
  <div class="col-sm-3">
    <ul>
      <li class="footer-heading"> Useful Link</li>
      <li>Contact Us</li>
      <li>Track Orders</li>
      <li>Cancellation</li>
    </ul>
  </div>
  <div class="col-sm-3">
    <ul>
      <li class="footer-heading">Social Networks</li>
      <li><a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
      </li>
    </ul>
  </div>
  <div class="col-sm-3">
    <ul>
      <li class="footer-heading"> Features</li>
      <li> Free Replacement</li>
      <li> Get Free Home Delivery</li>
      <li></li>
    </ul>
  </div>
</div>
</body>

</html>
